@font-face {
    font-family: pixel_rpg;
    src: url(fonts/mainport_pixelate/Mainport.ttf);
}

html {
    scroll-behavior: smooth;

    background-image: url("img/controller-tiled.png");
    background-repeat: repeat;
    background-blend-mode: color-burn;
    background-size: 16%;
    background-attachment: scroll;
    background-color: rgb(91, 68, 92);
}

body {
    margin: 0;
    font-family: sans-serif;

    font-size: 18px;
    line-height: 24px;
    color: rgb(204, 204, 204);
}

main {
    width: 820px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10% 30% 30% 20%; /*10% 30% 30% 20%;*/
    
    padding-left: 110px;
    padding-right: 110px;

    background-color: rgb(12, 12, 12)
}

@media (max-width: 1200px) {
    html {
        background-image: none;
        background-color: black;
    }

    main {
        width: auto;

        padding-left: 20px;
        padding-right: 20px;

        margin: 0;
        border-radius: 0;
    }
}


h1,
h2,
h3,
a {
    color: white;
}

h2 {
    text-align: center;
}

hr {
    width: 40%;
    color: white;
}

ul {
    list-style-image: url("img/GUI/fast-forward.png");
}

section {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    display: block;
}

p.pixel {
    font-family: "pixel_rpg";
}

.content {
    width: 100%;

    text-align: justify;
    text-justify: inter-word;

    display: block;
}

.anchor {
    scroll-margin-top: 80px;
}

#loading-overlay {
    background-color: rgb(8, 8, 8);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;
}



/********** HEADER TOPNAV BAR **********/

custom-header {
    overflow: hidden;
    background-color: rgb(8, 8, 8);
    
    position: fixed;
    width: 100%;

    z-index: 10;
}

.topnav {
    float: right;
    padding-right: 120px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "pixel_rpg";
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav {
        padding-right: 0;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: right;
        display: block;
        text-align: right;
    }
}



/********** UTILITIES **********/

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}