@font-face {
    font-family: pixelmix;
    src: url(fonts/pixelmix/pixelmix.ttf);
}

body {
    background-color: rgb(169, 119, 169);

    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    width: 60%;
    position: relative;
}

#bio {
    width: 60%;
    color: white;
    font-size: 18px;
    line-height: 24px;

    float: left;
}

p.section {
    font-size: 14px;
    line-height: 18px;
    color: white;
}

p.pixel {
    font-family: "pixelmix";
}

img.pixel {
    height: 100px;
    width: 100px;

    margin-right: -16px;

    background-color: transparent;
    image-rendering: auto;
}

div.container {
    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    min-height: 50px;

    overflow: auto;
    display: block;
}

.avatarGroup {
    width: 200px;

    float: right;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;

    display: block;
}

.iconButton {
    border: none;
    padding: 6px 6px;

    height: 40px;
    width: 40px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonGroup {
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.sectionBlock {
    width: 200px;
    position: absolute;
    right: 104%;

    text-align: right;
}

.contentBlock {
    width: 100%;
}