@font-face {
    font-family: pixel_rpg;
    src: url(fonts/mainport_pixelate/Mainport.ttf);
}

html {
    scroll-behavior: smooth;

    background-image: url("img/controller-tiled.png");
    background-repeat: repeat;
    background-blend-mode: color-burn;
    background-size: 16%;
    background-attachment: scroll;
    background-color: rgb(91, 68, 92);
}

#loading-overlay {
    background-color: rgb(8, 8, 8);

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: 100;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 60px;

    background-color: rgb(8, 8, 8);

    z-index: 10;
}

.headerElement {
    margin-left: 20px;
    font-size: 14px;
    font-family: "pixel_rpg";
}

body {
    font-family: Times, serif;
    font-size: 18px;
    line-height: 24px;
    color: rgb(204, 204, 204);

    width: 820px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;

    padding-left: 110px;
    padding-right: 110px;

    background-color: rgb(12, 12, 12)
}

h1,
h2,
h3,
a {
    color: white;
}

h2 {
    text-align: center;
}

hr {
    width: 40%;
    color: white;
}

ul {
    list-style-image: url("img/GUI/fast-forward.png");
}

#bio {
    width: 400px;
    margin-left: 4px;
    display: inline-block;
}

.anchor {
    scroll-margin-top: 80px;
}

section {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 30px;
    display: block;
}

p.pixel {
    font-family: "pixel_rpg";
}

.avatarGroup {
    position: relative;
    width: 220px;
    display: inline-block;
    vertical-align: top;
    margin-top: 34px;

    margin-left: 64px;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;

    display: block;
}

.avatarOverlay {
    height: 240px;
    width: 234px;

    position: absolute;
    top: -18px;
    left: -18px;

    overflow: visible;
    z-index: 2;
}

.iconButton {
    border: none;
    padding: 6px 6px;
    margin-top: 6px;

    height: 32px;
    width: 32px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    filter: hue-rotate();
}

.buttonGroup {
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.content {
    width: 100%;

    text-align: justify;
    text-justify: inter-word;

    display: block;
}

#project-grid {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 24px;
    display: inline-block;
}

.cardContainer {
    position: relative;
    overflow: hidden;

    border-style: solid;
    border-width: 2px;
    border-color: rgb(204, 204, 204);
    border-radius: 10px;

    height: 260px;
    width: 260px;
}

.cardImage {
    height: 100%;
}

.cardBand {
    position: absolute;
    bottom: -20px;

    height: 28px;
    width: 100%;

    opacity: 0;
}

.cardTitle {
    position: absolute;
    left: -8px;
    bottom: -12px;

    width: 100%;
    font-family: "pixel_rpg";
    font-size: 14px;
    color: white;
    opacity: 0;

    text-align: right;
}

ul.cardDetails {
    width: 208px;
}

.badge {
    color: white;
    padding: 2px 6px;
    text-align: center;

    font-family: sans-serif;
    font-size: small;
    font-weight: bold;

    border-radius: 6px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}


@media (max-width: 768px) {
    .avatarGroup {
        margin-left: auto;
        margin-right: auto;
    }

    #bio {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        width: auto;

        padding-left: 20px;
        padding-right: 20px;

        margin: 0;
        border-radius: 0;
    }

    #project-grid {
        display: grid;
        grid-template-columns: auto;
    }

    .project {
        margin-left: auto;
        margin-right: auto;
    }
}