@font-face {
    font-family: pixel_rpg;
    src: url(fonts/mainport_pixelate/Mainport.ttf);
}

body {
    background-image: url("images/Vector_Seamless_Game_Controller_Pattern_Abstract_Background-02.jpg");
    background-repeat: repeat;
    background-size: 25%;
    background-blend-mode: color-burn;
    
    background-color: rgb(91, 68, 92);

    width: 100%;
    display: flex;
    justify-content: center;
}

main {
    width: 66%;
    margin: 0;
    padding: 20px;
    border-radius: 20px;

    background-color: rgb(91, 68, 92);
}

#bio {
    width: 60%;
    color: white;
    font-size: 18px;
    line-height: 24px;

    position: relative;
    top: 12px;
    left: 114px;
    
    float: left;
}

p.section {
    font-size: 14px;
    line-height: 18px;
    color: white;
}

p.pixel {
    font-family: "pixel_rpg";
}

img.pixel {
    height: 100px;
    width: 100px;

    margin-right: -16px;

    background-color: transparent;
    image-rendering: auto;
}

div.container {
    position: relative;

    margin-top: 10px;
    margin-bottom: 10px;

    width: 100%;
    min-height: 50px;

    overflow: auto;
    display: block;
}

.avatarGroup {
    position: relative;
    right: 48px;

    width: 220px;

    float: right;
}

.avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;

    display: block;
}

.avatarOverlay {
    height: 240px;
    width: 234px;

    display: block;

    position: absolute;
    top: -18px;
    left: -18px;

    overflow: visible;
    z-index: 2;
}

.avatarBG {
    width: 33%;
    height: auto;

    margin: 0;

    opacity: 0.2;
}

.iconButton {
    border: none;
    padding: 6px 6px;

    height: 40px;
    width: 40px;

    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.buttonGroup {
    margin-top: 6px;
    display: flex;
    justify-content: center;
}

.sectionBlock {
    width: 140px;

    position: absolute;
    left: -30px;

    text-align: right;
}

.contentBlock {
    width: 88%;
    color: white;
    float: right;
}
